body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(250,164,3,0.8354692218684349) 0%, rgba(249,246,13,0.9279061966583508) 25%, rgba(247,255,44,1) 35%, rgba(255,251,132,1) 45%, rgba(255,251,132,1) 55%, rgba(247,255,44,1) 65%, rgba(249,246,13,1) 75%, rgba(250,164,3,1) 100%);

}

#blank{
  font-size: 20px;
  margin-left: 50px;
}
/*_____________________________jokes___________________________________________________________________________________________`*/
.wrapper {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

}

.grid{
  margin-left: 80px;
  width: 300px;
  height: 220px;
  border-width: 4px;
  border-style: outset;
  border-color: #ee9805;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.poems{
  text-align: center;
  font-size: 15px;
}
.poemName{
  font-size: 15px;
  padding-left: 20px;
  margin-top: 10px;
  margin-bottom: -15px;
}

.titlePoem{

  font-weight: bold;
  font-size: 20px;
}

#extend{
  height: 230px;
}
#extended{
  height: 290px;
}
#justify{
  justify-items: center;
}
#ContactInfo{
  padding-left: 15px;
  width: 500px;
  font-size: 20px;
  justify-content: right;
}
.left{
  font-weight: bold;
}
.right{
  text-align: center;
  padding-left: 30px;
}
/*_____________________________contact,about,home____________________________________________________________________`*/
* {box-sizing: border-box;}
.topnav {
  font-family: 'Garamond', "Times New Roman", sans-serif;
  overflow: hidden;
}
.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  margin-right: 10px;

  text-decoration: none;
  font-size: 17px;

}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav a.active {
  background-color: #2196F3;
  color: white;
}


/*______________________________________________Lines on screen_______________________________________*/
.top{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
#bottom{
margin-top: 80px;
  margin-bottom: 20px;
}
#scandiTestAssignment
{
  color: black;
  font-size: 12px;
  margin-top: 20px;
  margin-bottom: -60px;

  text-align: center;
}
#location{
  font-size: 12px;
  text-align: right;
  margin-top: 48px;
  margin-bottom: -60px;
  margin-right: 100px;
}
